<md-card>
  <md-list flex>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Выберите дату</span>
      </md-card-title-text>
    </md-card-title>
    <md-list-item class="md-3-line" ng-click="null">
      <div class="md-list-item-text" layout="column">
        <h3>{{ customer.interval.name == 'twice a month' ? 'Первая дата' : 'Дата' }}</h3>
      </div>
      <md-datepicker ng-model="firstDate" md-placeholder="Первая дата" ng-change="select(firstDate, 0)"></md-datepicker>
    </md-list-item>
    <md-list-item class="md-3-line" ng-click="null" ng-show="customer.interval.name == 'twice a month'">
      <div class="md-list-item-text" layout="column">
        <h3>Вторая дата</h3>
      </div>
      <md-datepicker ng-model="secondDate" md-placeholder="Вторая дата" ng-change="select(secondDate, 1)"></md-datepicker>
    </md-list-item>
  </md-list>
</md-card>